.TodoItem .text {
    cursor: pointer;
}

.TodoItem.completed .text {
    color: #999999;
    text-decoration: line-through;
}

.TodoItem .remove {
    color: red;
    margin-left: 4px;
    cursor: pointer;
}